* { margin:0; padding:0; border:none; outline:none; background:transparent; -webkit-tap-highlight-color:rgba(0,0,0,0); outline:none; }
*:focus { outline:none; }
ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
*, *:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
html { -webkit-font-smoothing: antialiased; }